%ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

%ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

%ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

%ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

%sf-regular {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-weight: 400;
}

%sf-medium {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 500;
}

%sf-semibold {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
}

%sf-bold {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 700;
}

%sf-bold {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 700;
}

%barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

%barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

/*  Colors  */

$main-text: #2f3035;
$active: #1c62cd;
$base: #f0f0f4;
$additional: #c4c4c4;
$additional_light: #e4e4e4;
$placeholder: #bdbec2;
$transparent: transparent;

/*  Font-weight  */

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/*  Font-size  */

$fs-extra-small: 12px;
$fs-smaller: 14px;
$fs-small: 16px;
$fs-medium: 18px;
$fs-bigger: 20px;
$fs-big: 24px;
$fs-extra-big: 30px;

/*  Line-height  */

$lh-extra-smaller: 14px;
$lh-extra-small: 17px;
$lh-small: 19px;
$lh-smaller: 21px;
$lh-medium: 24px;
$lh-bigger: 28px;
$lh-big: 30px;
$lh-extra-big: 32px;
