@media (max-width: 1300px) {
  .products__more {
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {
  .banner-slider {
    max-width: 600px;

    &__img {
      min-height: 380px;
      max-width: 600px;
    }
  }

  .categories {
    &__inner {
      justify-content: space-around;
    }
  }
}

@media (max-width: 1100px) {
   .menu__item +.menu__item {
     padding: 20px;
   }

   .header {
     &__adres {
       margin-right: 20px;
     }
   }
}

@media (max-width: 968px) {
  .header {
    &__bottom {
      display: none;
    }
  }

  .menu {
    &__btn {
      display: block;
    }

    &__btn-line {
      background: #2F3035;
      border-radius: 3px;
      height: 3px;
      width: 34px;
      margin: 8px 0;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }

    &__list {
      display: none;
    }
  }

  .menu-mobile {
    &__line-wrapper {
      display: block;
    }
  }

  .banner {
    &__inner {
      margin-top: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .banner-slider {
    max-width: 100%;

    &__item {
      text-align: center;
    }

    &__img {
      max-width: 100%;
      margin-bottom: 25px;
    }

    &__btn {
      display: none;
    }
  }

  .search {
    &__mobile-overflow {
      width: 1000px;
    }

    &__content-form {
      position: relative;
    }

    &__content-input {
      height: 50px;
      padding-right: 50px;
    }

    &__content-btn {
      font-style: 0;
      line-height: 0;
      padding: 17px;
      background-image: url('../images/search.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      background-color: transparent;
      position: absolute;
      right: 08px;
      top: 13px;
    }
  }

  .tabs__wrapper {
    overflow-x: scroll;
  }
}

@media (max-width: 640px) {
  .header {
    &__adres {
      display: none;
    }
  }

  .banner-slider {
    .container{
      padding: 0;
    }

    &__img {
      min-height: 200px;
    }
  }
}

@media (max-width: 440px) {
  .banner-slider {
    &__img {
      min-height: 164px;
    }
  }

  .categories {
    &__item {
      padding: 20px 10px 16px;
    }
  }
}