.breadcrumbs {
  margin-bottom: 40px;

  &__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    color: $additional;
  }

  &__list-item::after {
    content: "";
    position: absolute;
    right: 0;
    background-image: url("../images/link-arrow.svg");
    width: 5px;
    height: 9px;
    bottom: 4px;
  }

  &__list-item:last-child::after {
    display: none;
  }
}
