.card {
  margin-bottom: 100px;

  &__tab-box {
    background: $base;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0 17px;
    margin-bottom: 50px;
  }

  &__tab {
    color: $main-text;
    opacity: 0.6;
    font-size: $fs-bigger;
    line-height: $lh-medium;
    padding-bottom: 5px;
  }

  &__tab.tab--active {
    color: $main-text;
    opacity: 1;
    border-bottom: 2px solid $active;
  }

  &__top-line {
    margin-bottom: 10px;
  }

  &__label-search {
    font-size: $fs-medium:;
    line-height: $lh-smaller;
    color: rgba(47, 48, 53, .7);
  }

  &__input-search {
    background: $base;
    border-radius: 3px;
    margin-left: 17px;
    margin-right: 100px;
    padding: 9px 37px 9px 17px;
    border: none;
  }

  &__label-pickup {
    margin-left: 54px;
    font-size: $fs-small;
    line-height: $lh-smaller;
    color: rgba(47, 48, 53, .7);
  }

  &__list-item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(47,48,51,0.1);
    display: flex;
    align-items: baseline;
    font-size: $fs-small;
    line-height: $lh-small;
    color: rgba(47, 48, 53, .7);
  }

  &__list-item-title {
    font-size: $fs-bigger;
    line-height: $lh-medium;
    color: rgba(47, 48, 53, 1);
  }

  &__list-address {
    width: 220px;
    margin-right: 80px;
  }

  &__list-workhours {
    width: 157px;
    margin-right: 96px;
  }

  &__list-workhours-columns {
    display: flex;
    justify-content: space-between;
  }

  &__list-avialable {
    width: 140px;
    margin-right: 60px;
  }

  &__list-num {
    width: 104px;
  }

  &__list-btn {
    margin-left: auto;
  }

  &__list-button {
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    letter-spacing: 0.12em;
    padding: 9px 40px;
  }
}