.price {
  @extend %barlow-regular;
  position: relative;

  &__new {
    font-weight: $bold;
    font-size: 27px;
    line-height: $lh-extra-big;
    color: $active;
    margin-right: 6px;
    padding-right: 20px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icon-price.svg");
      background-repeat: no-repeat;
      right: 0;
      top: 8px;
      width: 16px;
      height: 18px;
    }
  }

  &__old {
    display: inline-block;
    font-weight: $regular;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    color: $additional;
    margin-right: 15px;
    background-image: url("../images/old-line.svg");
    padding: 2px 5px;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icon-price-old.svg");
      background-repeat: no-repeat;
      right: -10px;
      top: 5px;
      width: 8px;
      height: 10px;
    }
  }
}
