.product-slider {
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 5;

    &--prev {
      left: -40px;
    }

    &--next {
      right: -30px;
    }
  }
  & .slick-dots {
    position: relative;
    bottom: -30px;
    display: flex;
    justify-content: center;

    & li + li {
      margin-left: 5px;
    }
    & button {
      background-color: $additional;
      border: none;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;
      width: 5px;
      height: 12px;
      outline: none;
    }

    & .slick-active button {
      background-color: $active;
    }
  }
}
