.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid $additional;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 400px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    color: $base;
    background-color: $active;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: $fs-extra-small;
    line-height: $lh-extra-smaller;
    letter-spacing: 0.1em;
  }

  &__price {
    text-align: right;
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    @extend %sf-bold;
    font-size: $fs-medium;
    line-height: $lh-smaller;
    margin-bottom: 7px;
  }

  &__footer {
    background-color: $base;
    padding: 25px 20px;
    font-size: $fs-medium;
    line-height: $lh-smaller;
  }

  &__footer span {
    @extend %barlow-bold;
    color: $active;
    display: block;
  }
}
