.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    color: #ffffff;
    background-color: #1C62CD;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
  }

  &__price {
    text-align: right;
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }

  &__footer {
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
  }

  &__footer span {
    font-weight: 700;
    color: #1C62CD;
    display: block;
    font-family: 'Barlow', sans-serif;
  }
}