.search {
  &__tabs {
    margin-bottom: 25px;
  }

  &__tabs-item {
    padding: 11px 26px 12px;
  }

  &__tabs-item.tab--active {
    background: $base;
    border-radius: 5px;
    @extend %sf-bold;
  }

  &__content-item.tabs__content--active {
    display: block;
  }

  &__content-form {
    display: flex;
  }

  &__content-input {
    background: $base;
    border-radius: 3px;
    border: none;
    padding: 5px 20px;
    font-size: $fs-small;
    line-height: $lh-small;
    width: 100%;
  }

  &__content-input::placeholder {
    color: #656464;
  }

  &__content-btn {
    @extend %sf-bold;
    font-weight: bold;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    letter-spacing: 0.12em;
    padding: 17px 41px;
    margin-left: -3px;
  }
}
