.jq-checkbox, .jq-radio {
  background: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  box-shadow: none;
  vertical-align: -1px;
  margin: 0 8px 0 0;
}

.jq-checkbox.checked, .jq-radio.checked {
  background: #1C62CD;
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
  background-image: url('../images/checked-icon.svg');
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 50%;
  background: transparent;
  box-shadow: none;
}

.irs--flat {
  width: 100%;
  margin-top: -15px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 55px;
  padding: 0;
  color: #2F3035;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  text-shadow: none;
  background-color:transparent;
  border-radius: 0;
  visibility: visible !important;
  padding-left: 27px;
}

.irs-min::before,
.irs-max::before {
  position: absolute;
  line-height: 17px;
  font-size: 14px;
  text-decoration: none;
  color: #c4c4c4;
  left: 0;
}

.irs-min::before {
  content: 'от';
}

.irs-max::before {
  content: 'до';
}

.irs--flat .irs-line {
  text-outline: 25px;
  height: 1px;
  background-color: #e0e0e0;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 24px;
  height: 3px;
  background-color: #1C62CD;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  background-color: #1C62CD;
  border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background-color: transparent;
}

.irs-handle {
  cursor: pointer;
}

.btn-checked .aside-filter__content {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
  width: auto;
}

.btn-checked .aside-filter__content-label{
  position: relative;
  height: 25px;
  width: 63px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #C4C4C4;
}

.btn-checked .jq-checkbox {
  background: #F0F0F4;
  height: 25px;
  width: 63px;
  border: none;
}

.btn-checked .jq-checkbox.checked {
  background: #1C62CD;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__txt {
  color: #ffffff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

.btn-checked__txt {
  position: absolute;
  z-index: 15;
  top: -7px;
  left: 50%;
  transform: translatex(-57%);
}

