.pagination {
  width: 100%;
  margin-top: 70px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 6px 12px;
    border: 2px solid $transparent;
    margin: 0 4px;
    font-size: $fs-medium;
    line-height: $lh-smaller;
    color: $additional;
  }

  &__item.pagination__item--active {
    border: 2px solid $active;
    color: $active;
  }

  &__item a {
    display: block;
  }
}
