.footer {
  background: $base;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 200px;
  }

  &__top-title {
    @extend %sf-bold;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    color: $main-text;
  }

  &__top-lewsletter {
    width: 295px;
    margin-right: 50px;
  }

  &__form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    background-color: $base;
    border: none;
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    padding: 0 12px;
  }

  &__form-input::placeholder {
    color: $additional;
  }

  &__form-btn {
    @extend %sf-semibold;
    padding: 10px 16px;
    font-size: $fs-extra-small;
    line-height: $lh-extra-smaller;
    letter-spacing: 0.12em;
  }

  &__list {
    font-size: $fs-smaller;
    line-height: $lh-smaller;
    color: $main-text;
  }

  &__top-social.footer__top-item {
    width: 250px;
  }

  &__social-list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__social-item {
    opacity: 0.6;
  }

  &__social-item:hover {
    opacity: 1;
  }

  &__social-item + &__social-item {
    margin-left: 30px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding: 46px 0 22px;
  }

  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494d;
    margin: 0 40px;
  }

  &__topdrop {
    pointer-events: none;
  }
}
