.footer {
  background: #F0F0F4;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-item {
    width: 200px;
  }

  &__top-title {
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
  }

  &__top-lewsletter {
    width: 295px;
    margin-right: 50px;
  }

  &__form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 17px;
    padding: 0 12px;
  }

  &__form-input::placeholder {
    color: #C4C4C4;
  }

  &__form-btn {
    font-family: "SFProDisplay-Semibold", sans-serif;
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background: #1C62CD;
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    cursor: pointer;
  }

  &__list {
    font-size: 14px;
    line-height: 22px;
    color: #2F3035;
  }

  &__top-social.footer__top-item {
    width: 250px;
  }

  &__social-list{
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__social-item {
    opacity: .6;
  }

  &__social-item:hover {
    opacity: 1;
  }

  &__social-item + &__social-item {
    margin-left: 30px;
  }
  
  &__bottom {
    display: flex;
    justify-content: center;
    padding: 46px 0 22px;
  }

  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    margin: 0 40px;
  }

  &__topdrop {
    pointer-events: none;
  }
}