.aside-filter {
  &__btn {
    display: none;
  }
  
  &__tabs {
    display: flex;
    justify-content: space-between;
  }

  &__tab {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 50%;
  }

  &__tab.tab--active {
    font-family: "SFProDisplay-Bold", sans-serif;
    color: #2F3035;
    font-weight: 700;
  }

  &__tab.tab--active span{
    display: inline-block;
    border-bottom: 2px solid #1C62CD;
    padding-bottom: 7px;
  }

  &__item-drop {
    margin: 40px 0;
  }

  &__item-title {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
  }

  &__item-title-drop {
    position: relative;
    cursor: pointer;
  }

  &__item-title-drop::before {
    content: '';
    position: absolute;
    background-image: url('../images/arrow-down.svg');
    left: 0;
    bottom: 5px;
    width: 12px;
    height: 8px;
    transform: rotate(0deg);
  }

  &__item-title-drop--active::before {
    transform: rotate(180deg);
  }
  
  &__content {
    display: none;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  &__item-title-drop--active + .aside-filter__content {
    display: flex;
  }

  

  &__content-label > span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__content-label > .btn-checked__txt::before {
    width: 4em;
    height: 1.5em;
    position: absolute;
    z-index: -1;
    top: -3px;
    left: -4px;
  }

  &__content-label > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #1C62CD;
  }

  &__content-label > input:not(:disabled):active + span::before {
    background-color: #1C62CD;
    border-color: #1C62CD;
  }

  &__content-label > input:not(:disabled):active + span::before {
    background-color: #1C62CD;
    border-color: #1C62CD;
  }

  &__content-label > input:focus:not(:checked) + span::before {
    border-color: #1C62CD;
  }
  
  &__content-label > input:checked + span::before {
    border-color: #1C62CD;
    background-color: #1C62CD;
  }

  &__content-label > input:checked + .btn-checked__txt {
    color: #ffffff;
  }

  &__content-label > .filter__checkbox:checked + span::before {
    background-image: url("../images/checked-icon.svg");
    background-size: contain;
  }
  
  &__content-label > input:disabled + span::before {
    background-color: #e9ecef;
  }

  &__content.aside-filter__content-radio {
    flex-wrap: nowrap;
  }

  &__content-box {
    width: 50%;
    margin-bottom: 10px;
  }

  &__content-label {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    position: relative;
  }

  &__item-list {
    margin: 46px 0 40px;
  }

  &__item-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C4C4C4;
    padding-top: 34px;
  }

  &__item-list-title {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 14px;
    padding-left: 26px;
  }

  &__more {
    width: 100%;
  }

  &__more-btn {
    font-size: 14px;
    line-height: 17px;
    color: #1C62CD;
    border: none;
    border-bottom: 1px solid #1C62CD;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  &__search {
    width: 100%;
    border: 1px solid #E0E0E0;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__search::placeholder {
    color: #BDBEC2;
  }

  &__item-btn {
    text-align: center;
  }

  &__btn-send {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    background: #F0F0F4;
    color: #BDBEC2;
    padding: 16px 82px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__btn-send:hover {
    background-color: #1C62CD;
    color: #ffffff;
  }

  &__btn-send--active {
    background-color: #1C62CD;
    color: #ffffff;
  }

  &__extra {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    color: #2F3035;
    position: relative;
    cursor: pointer;
    padding-right: 29px;
    margin-bottom: 15px;
  }

  &__extra::after {
    content: "";
    position: absolute;
    background-image: url('../images/arrow-down.svg');
    width: 12px;
    height: 6px;
    top: 4px;
    right: 0;
  }

  &__extra-content {
    display: none;
  }

  &__extra.aside-filter__item-title-drop--active::after {
    transform: rotate(180deg);
  }

  &__btn-reset {
    font-size: 13px;
    line-height: 16px;
    background-color: transparent;
    padding: 0;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    display: inline-block;
    color: #C4C4C4;
    cursor: pointer;
  }

  &__item-title + .action {
    flex-wrap: nowrap;
    padding: 0 5px 0 0;
    justify-content: space-between;
  }

  &__select {
    border: none;
    outline: none;
  }
}

.action > .aside-filter__content-box {
  width: auto;
}
