.categories {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    border: 1px solid $additional;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all 0.3s;
  }

  &__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }

  &__item-title {
    @extend %barlow-bold;
    font-size: $fs-big;
    line-height: $lh-bigger;
    transition: all 0.3s;
  }

  &__item:hover &__item-title {
    color: $active;
  }

  &__item-text {
    font-size: $fs-smaller;
    line-height: $lh-extra-small;
    color: $additional;
  }

  &__item-text::after {
    content: url("../images/link-arrow.svg");
    padding-left: 2px;
  }

  &__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item-img {
    text-align: center;
    width: 50%;
  }

  &__item-img img {
    max-width: 100%;
  }
}
