.menu {
  &__btn {
    display: none;
    padding: 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:hover {
    color: $active;
  }

  &__item:not(:last-child) {
    padding-right: 50px;
  }
}
